  body{ 
  text-align: center;
  margin: 50px;
  margin-left: 20%;
  margin-right: 20%;
 }
  
  button {
   border: none;
   background-color: yellowgreen;
   color: white;
   padding: 12px 82px;
    }
  .card{
    padding: ;
  }
  label{
    margin-right: 125px;
  } 
 